.container {
    width: 67%;
    margin: auto;
}

.basket {

    &__cart {
        h2 {
            padding-top: 45px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 22px;

            span {
                font-weight: 400;
                font-size: 20px;
            }
        }
    }

    .basket__free {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 121px 0px;
        margin-bottom: 64px;


        h2 {
            margin-bottom: 10px;
        }

        h5 {
            margin-bottom: 16px;
        }

        a {
            text-decoration: none;
        }

        button {
            margin-top: 15px;
            cursor: pointer;
            border: 2px solid black;
            padding: 10px 20px;
            border-radius: 20px;
            background-color: white;
            font-weight: 700;
            font-size: 14px;

            &:hover {
                box-shadow: inset 0 0 0 0.035rem #2e2f32;
                color: #2e2f32;
            }

            &:active {
                background: #2e2f32;
                box-shadow: none;
                color: #fff;
            }
        }
    }

    .basket__main {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 248px;


        @media(max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__checkout {
            height: 263px;
            box-shadow: 0 1px 2px 1px #00000026;
            border-radius: 8px;

            &__top {
                border: 1px solid #f1f1f2;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }

            button {
                width: 330px;
                padding: 10px;
                background-color: #0071dc;
                color: white;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: 700;

                &:hover {
                    background-color: #004f9a;
                }

                &:active {
                    background-color: #002d58;
                }

            }

            &__bottom {
                padding: 16px;

                & div:nth-child(2) {
                    border-bottom: 1px solid #f1f1f2;
                    padding-bottom: 25px;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px 0px;

                    & span:first-child {
                        font-size: 13px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        opacity: .7;

                        h5 {
                            font-size: 15px;
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }

        &__products {
            box-shadow: 0 1px 2px 1px #00000026;
            border-radius: 8px;
            width: 100%;

            &__top {
                display: flex;
                padding: 24px;
                background-color: #f2f8fd;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;


                &__left {
                    padding-right: 24px;


                    img {
                        height: 57px;
                    }
                }

                &__right {
                    width: 100%;

                    & div:first-child {
                        padding-bottom: 16px;
                        border-bottom: 1px solid #babbbe;
                        display: block;
                    }

                    & div:last-child {
                        padding-top: 14px;
                        font-size: 13px;
                        display: flex;
                        gap: 5px;

                        p {
                            font-weight: 700;
                        }

                        @media(max-width: 480px) {
                            display: none;
                        }
                    }

                    h2 {
                        margin-bottom: 5px;
                        font-size: 22px;

                        @media(max-width: 480px) {
                            font-size: 14px;
                        }
                    }

                    span {
                        text-decoration: underline;
                        cursor: pointer;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            &__bottom {
                padding: 24px;

                &__item {
                    padding: 20px 0px;

                    .remove {
                        cursor: pointer;
                        text-decoration: underline;
                        font-size: 14px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &__content {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        div{
                           img{
                            width: 96px;
                        } 
                        } 
                        span{
                            img{
                                width: 15px;
                            }
                        }

                        .basket__main__products__bottom__item__right {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            p{
                                @media(max-width:480px){
                                    font-size: 13px;
                                }
                            }

                            & span:nth-child(3),
                            & span:nth-child(4) {
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                gap: 3px;

                                @media(max-width:480px){
                                    font-size: 12px;
                                }
                            }

                            & span:nth-child(5) {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid black;
                                border-radius: 8px;
                                width: 70px;
                                height: 30px;

                                @media(max-width:480px){
                                    width: 100px;
                                }

                                button {
                                    background-color: white;
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    border: none;
                                    font-size: 18px;
                                    font-weight: 700;

                                    &:hover {
                                        background-color: #74767c;
                                        color: white;
                                    }
                                }

                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                input{
                                    width: 50px;
                                    text-align: center;
                                    border: none;
                                    outline: none;
                                    background-color: white;
                                }
                            }
                        }
                    }

                }
            }
        }
    }


}